.accordian{
    margin: 30px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}
.accordian-top{
    text-align: center;
    height: auto;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordian-top > div{
    width: 50%;
    display: flex;
    align-items: center;
}
.daily-left{
    justify-content: flex-start;
}

.daily-right{
    justify-content: flex-end;
}

.daily-right .daily-temps{
    display: flex;
}

.daily-right .daily-temps .temperature{
    display: flex;
    color: rgb(78, 78, 78);
}

.margin-l-30{
    margin-left: 30px;
}

.accordian-top h3{
    font-size: 30px;
}

.accordian-bottom{
    justify-content: space-around;
    padding: 15px 0;
    display: none;
    flex-wrap: wrap;
    border-top: 1px solid black;
}

.show .accordian-bottom{
    display: flex;
}

.three-hourly-forecast{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.forecast-time{
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

@media only screen and (max-width: 660px){
    .accordian-top{
        flex-direction: column;
        justify-content: center;
    }

    .accordian-top > div {
        width: 100%;
        justify-content: center;
    }
}


@media only screen and (max-width: 380px){
    .accordian{
        margin: 30px 15px;
    }
    .accordian-top{
        padding: 15px 15px;
    }

    .accordian-top h3{
        font-size: 24px;
    }
}